openapi: 3.0.1
info:
  title: API E-commerce - CodeStack
  version: 1.2.0
  description: >
    API E-commerce para la gestión integral de productos, pedidos, clientes y configuraciones.  
    Incluye todos los módulos del sistema:

    - 🛍️ **Productos:** Control completo de artículos, precios y stock.  
    - 💳 **Pagos:** Creación y seguimiento de ventas (Mercado Pago y transferencias).  
    - ⚙️ **Configuraciones:** Administración global de descuentos y ajustes de precios.  
    - 🔐 **Administración:** Login y gestión de sesión de administrador.

    > **Nota:** Documentación en modo lectura. No permite ejecutar endpoints desde el navegador.

servers:
  - url: https://aerotactico.cristiandeveloper.site/api
    description: Servidor de producción
  - url: http://localhost:4000/api
    description: Servidor local

tags:
  - name: Productos
    description: Endpoints relacionados con la gestión de productos
  - name: Pagos
    description: Endpoints para registrar ventas y procesar pagos
  - name: Configuración
    description: Endpoints para control de descuentos y precios
  - name: Administración
    description: Endpoints de autenticación y gestión de sesión

paths:
  # ----------------------- PRODUCTOS -----------------------
  /products:
    get:
      tags: [Productos]
      summary: Listar todos los productos
      responses:
        "200":
          description: Lista de productos obtenida correctamente
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"
    post:
      tags: [Productos]
      summary: Crear un nuevo producto
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                brand:
                  type: string
                title:
                  type: string
                description:
                  type: string
                category:
                  type: string
                subCategory:
                  type: string
                price:
                  type: number
                variants:
                  type: string
                  description: JSON con variantes (color, talla, stock)
                thumbnails:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        "201":
          description: Producto creado correctamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"

  /products/{pid}:
    get:
      tags: [Productos]
      summary: Obtener producto por ID
      parameters:
        - name: pid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Producto obtenido correctamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
    put:
      tags: [Productos]
      summary: Actualizar producto por ID
      parameters:
        - name: pid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                brand:
                  type: string
                title:
                  type: string
                description:
                  type: string
                category:
                  type: string
                subCategory:
                  type: string
                price:
                  type: number
                variants:
                  type: string
                  description: JSON con variantes (color, talla, stock)
                thumbnails:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        "200":
          description: Producto actualizado correctamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
    delete:
      tags: [Productos]
      summary: Eliminar producto por ID
      parameters:
        - name: pid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Producto eliminado correctamente

  # ----------------------- PAGOS -----------------------
  /pay/createSale:
    post:
      tags: [Pagos]
      summary: Crear una venta (Mercado Pago)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    name: { type: string }
                    email: { type: string }
                    phone: { type: string }
                    address: { type: string }
                    city: { type: string }
                    postalCode: { type: string }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      productId: { type: string }
                      title: { type: string }
                      price: { type: number }
                      quantity: { type: number }
      responses:
        "201":
          description: Venta creada correctamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sale"

  /pay/webhook:
    post:
      tags: [Pagos]
      summary: Webhook de Mercado Pago
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                type: "payment"
                data:
                  id: 1234567890
      responses:
        "200":
          description: Webhook recibido correctamente

  /pay/uploadReceipt:
    post:
      tags: [Pagos]
      summary: Crear venta con transferencia (subida de comprobante)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                user:
                  type: string
                  description: JSON del usuario
                items:
                  type: string
                  description: JSON con los items de la venta
                receipt:
                  type: string
                  format: binary
      responses:
        "201":
          description: Venta creada con transferencia
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sale"

  /pay:
    get:
      tags: [Pagos]
      summary: Listar todas las ventas
      responses:
        "200":
          description: Lista de ventas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Sale"

  /pay/{tid}:
    put:
      tags: [Pagos]
      summary: Actualizar estado de la venta
      parameters:
        - name: tid
          in: path
          required: true
          schema: { type: string }
      responses:
        "201":
          description: Estado actualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sale"

  # ----------------------- CONFIGURACIÓN -----------------------
  /settings:
    get:
      tags: [Configuración]
      summary: Obtener configuración actual
      responses:
        "200":
          description: Configuración obtenida correctamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settings"

  /settings/discount:
    put:
      tags: [Configuración]
      summary: Actualizar descuento global
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                discount: { type: number }
      responses:
        "200":
          description: Descuento actualizado correctamente

  /settings/increase-prices:
    put:
      tags: [Configuración]
      summary: Aumentar precios de todos los productos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                percentage: { type: number }
      responses:
        "200":
          description: Precios actualizados correctamente

  # ----------------------- ADMINISTRACIÓN -----------------------
  /admin/login:
    post:
      tags: [Administración]
      summary: Iniciar sesión como administrador
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username: { type: string }
                password: { type: string }
      responses:
        "200":
          description: Sesión iniciada correctamente
        "401":
          description: Credenciales inválidas

  /admin/logout:
    post:
      tags: [Administración]
      summary: Cerrar sesión
      responses:
        "200":
          description: Sesión finalizada correctamente

components:
  schemas:
    Product:
      type: object
      properties:
        _id: { type: string }
        brand: { type: string }
        title: { type: string }
        description: { type: string }
        price: { type: number }
        category: { type: string }
        subCategory: { type: string }
        thumbnails:
          type: array
          items:
            type: object
            properties:
              url: { type: string }
              public_id: { type: string }
        variants:
          type: array
          items:
            type: object
            properties:
              color: { type: string }
              size: { type: string }
              stock: { type: number }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Sale:
      type: object
      properties:
        _id: { type: string }
        user:
          type: object
          properties:
            name: { type: string }
            email: { type: string }
            phone: { type: string }
            address: { type: string }
            city: { type: string }
            postalCode: { type: string }
        items:
          type: array
          items:
            type: object
            properties:
              productId: { type: string }
              title: { type: string }
              price: { type: number }
              quantity: { type: number }
              color: { type: string }
              size: { type: string }
              category: { type: string }
        total: { type: number }
        status: { type: string }
        preferenceId: { type: string }
        comprobanteUrl: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Settings:
      type: object
      properties:
        discount: { type: number }
        priceIncrease: { type: number }

  securitySchemes:
    AdminAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - AdminAuth: []
